:root {
  --primary-color: #110d03;
  --header-color: #000000;
  --secondary-color: #110d03;
  --text-color: rgb(247, 242, 242);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: var(--header-color);
  color: white;
  padding: 1em;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 1em;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 1em;
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    text-align: center;
  }
  .auth-links {
    position: static;
    margin-top: 1em;
  }
  .cart-container {
    position: static;
    margin-top: 1em;
  }
  footer .footer-sections {
    flex-direction: column;
    text-align: center;
  }
}
