<div class="recovery-container">
  <h2>Recuperar Contraseña</h2>
  <form [formGroup]="recoveryForm" (ngSubmit)="recoverPassword()">
    <div class="form-group">
      <label for="username">Usuario</label>
      <input type="text" id="username" formControlName="username" (blur)="getPreguntaSecreta(recoveryForm.get('username')?.value)" placeholder="Ingrese su usuario">
      <div *ngIf="recoveryForm.get('username')?.invalid && recoveryForm.get('username')?.touched" class="error">
        El usuario es requerido.
      </div>
    </div>
    <div class="form-group" *ngIf="preguntaSecreta">
      <label for="secret-question">Pregunta Secreta</label>
      <input type="text" id="secret-question" formControlName="preguntaSecreta" [value]="preguntaSecreta" readonly>
    </div>
    <div class="form-group" *ngIf="preguntaSecreta">
      <label for="secret-answer">Respuesta Secreta</label>
      <input type="text" id="secret-answer" formControlName="respuestaSecreta" placeholder="Ingrese su respuesta secreta">
      <div *ngIf="recoveryForm.get('respuestaSecreta')?.invalid && recoveryForm.get('respuestaSecreta')?.touched" class="error">
        La respuesta secreta es requerida.
      </div>
    </div>
    <button type="submit" [disabled]="recoveryForm.invalid">Recuperar Contraseña</button>
  </form>
</div>
